@use '../base/mixins' as m;
@use '../base/variables' as v;

.blog-testimoniales{
    padding: 2rem 0;
}
.containerg-bt{

    @include m.tablet{

        display: grid;
        grid-template-columns: 2fr 1.15fr;
        column-gap: 5rem;
       

        .blog{
  
            display: grid;
            grid-template-columns: 2fr 2.5fr;
            column-gap: 1rem;
            margin-bottom: 2rem;
            h4{
                margin: 0;
                color: v.$negro;
                &::after{
                    content: "";
                    @include m.border-bottom(v.$amarillo,5px,solid,200px);
                }
                    
                
            }
           
          
        
    }
    
    
}
}

.testimonio{
    background-color: v.$verde;
    border-radius: 15px;
    padding: 1rem;
    blockquote{
        position: relative;
        font-size: 2.4rem;
     
        padding-left: 1rem;

        color: v.$blanco;
        &::before{
            position: absolute;
            content: '';
            background-image: url("../img/comilla.svg");
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            left: -4rem;
            top: -2rem;
            display: block;
        }
    }
    span{
        color: v.$blanco;
        text-align: right;
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-size: 2rem;
      

    }
}


.no-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}